<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>DeathGhost-注册</title>
    <meta name="keywords" content="DeathGhost,DeathGhost.cn,web前端设,移动WebApp开发"/>
    <meta name="description" content="DeathGhost.cn::H5 WEB前端设计开发!"/>
    <meta name="author" content="DeathGhost"/>
    <link href="__PUBLIC__/style/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
<include file="public/header.html"/>
<!--Start content-->
<section class="Psection MT20">
    <form action="/MenuEatCust/home/customer/register" method="post" onsubmit="return checkform()" id="seachForm">
        <table class="Register">
            <tr>
                <td width="40%" align="right" class="FontW">用户名：</td>
                <td><input type="text" id="username" name="username" required autofocus></td>
            </tr>
            <tr>
                <td width="40%" align="right" class="FontW">密码：</td>
                <td><input type="password" id="password" name="password" required></td>
            </tr>
            <tr>
                <td width="40%" align="right" class="FontW">再次确认：</td>
                <td><input type="password" id="comfirmPwd" name="comfirmPwd" required></td>
            </tr>
            <tr>
                <td width="40%" align="right" class="FontW">电子邮件：</td>
                <td><input type="email" id="email" name="email" required></td>
            </tr>
            <tr>
                <td width="40%" align="right" class="FontW">手机号码：</td>
                <td><input type="text" id="telephone" name="telephone" required pattern="[0-9]{11}"></td>
            </tr>
            <!-- <tr>
                 <td width="40%" align="right" class="FontW">手机校验码：</td>
                 <td><input type="text" name="" required pattern="[0-9]{6}"></td>
             </tr>-->
            <tr>
                <td width="40%" align="right" class="FontW">验证码：</td>
                <td><input type="text" name="code" required id="code"><img src="/MenuEatCust/home/customer/captcha"
                                                                           style="margin-left:8px; vertical-align:bottom"
                                                                           width="83"
                                                                           height="36" onclick="captcha()" id="codeImg">
                </td>
            </tr>
            <tr>
                <td width="40%" align="right" class="FontW"><span id="msg" style="color: red"></span></td>
                <td><input type="checkbox">&nbsp;&nbsp;&nbsp;<span><a href="javaScript:void(0);" style="color: #3366cc">请阅读以下条款</a></span>
                </td>
            </tr>
            <tr>
                <td width="40%" align="right"></td>
                <td><input type="submit" name="" id="sendData" class="Submit_b" value="注 册">( 已经是会员，<a href="login.html"
                                                                                                       class="BlueA">请登录</a>
                    )
                </td>
            </tr>
        </table>
    </form>
</section>
<!--End content-->
<div class="F-link">
    <span>友情链接：</span>
</div>
<include file="public/footer.html"/>
<script>

    $(function () {
        $("#seachForm").submit(function (event) {
            event.preventDefault();
            var $form = $(this),
                username = $form.find('input[name="username"]').val(),
                password = $form.find('input[name="password"]').val(),
                email = $form.find('input[name="email"]').val(),
                telephone = $form.find('input[name="telephone"]').val(),
                code = $form.find('input[name="code"]').val(),
                url = $form.attr('action');
            $.post(url, {
                    username: username,
                    password: password,
                    email: email,
                    telephone: telephone,
                    code: code
                },
                function (data) {
                    if (data == 'ok') {
                        location.href = '/MenuEatCust/home/Customer/registerSuccess';
                    } else {
                        $("#msg").html(data);
                    }
                }
            );
        });
    });
    function captcha() {
        $("#codeImg").get(0).src = "/MenuEatCust/home/customer/captcha?m=" + Math.random();
    }
    function checkform() {
        var cPwd = $("#comfirmPwd").val();
        var pwd = $("#password").val();
        if (cPwd != pwd) {
            alert("密码不一致");
            return false;
        } else {
            return true;
        }
    }
</script>
</body>
</html>
